
nav ul li {
    padding: 20px 15px;
    font-weight: bold;
    font-size: 18px;
}

.home-nav {
    background-color: aqua;
}

.about-nav {
    background-color: aquamarine;
}

.gallery-nav {
    background-color: beige;
}

.contact-nav {
    background-color: blue;
}

.nav-menu-right {
    text-align: right;
}




.heading-one {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}







.contact-information {
    text-align: center;
    font-size: small;
}

.contact-bg-colour-above {
    background-color: azure;
    width: 100%;
    padding-bottom: 15px;
}

.contact-bg-colour-below {
    background-color: blueviolet;
    width:100%;
    padding-bottom: 15px;

}




.hero-container {
    background-image: none;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    width:100%;
}

.about-information {
    background-color: red;
    padding-bottom: 15px;
    width:100%; 
    text-align: center;
}