/*Fonts---------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Mono:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Mono:wght@200&display=swap');


/*remove---------------------------------------------------------------------------------- */
.nopadding {
    padding: 0;
}

.noborder {
    border-style:none;
}

body {
    user-select: none;
}

.nomargin {
    margin:0;
}
/*map---------------------------------------------------------------------------------- */

.map{
    width: 100%;
    pointer-events: none;
    height:30rem;
    
}

container-map{
    margin-top:80px;
    width: 100%;
}

/*Navigation---------------------------------------------------------------------------------- */

.navbar{
    width:100%;
    z-index: 1;
    height: 120px;
}

.navbar li {
    right: 0;
}

.navbar li a {
    text-align: center;
    line-height: 5px;
    color: black;
    font-size: 25px;
}

.logo {
    width: 100px; 
    height: 100px;
    float: left;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    padding:25px;
    font-family: avro, sans-serif;
}

.to-the-top{
    bottom:0;
    right:0; 
    position: fixed;
    z-index: 1;
    height:2em; 
    width: 2em;
    border-radius: 50%;
    background-color: rgba(158,230,148,0.8); 
    border-style: none;
    font-size: 2em;
}

/*colours---------------------------------------------------------------------------------- */
body {
    background-color: white;
}

.pink {
    background-color: #E9A2CC;
}

.contact-bg-colour-above {
    background-color: #e5c808;
}

.navbar {
    background-color:rgba(158,230,148,0.8);
}
/*Headings and text---------------------------------------------------------------------------------- */

#active {
    color: white;
    font-size: 30px;
}

.heading-one {
    text-align: center;
    padding-top: 5px;
    font-size: 80px;
    font-family: creepster, sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
}

.heading-2 {
    font-family: creepster, sans-serif;
    font-size: 25px; 
    color:black;
    letter-spacing: 3px;
}

.paragraph-text {
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
}

textarea, input {
    padding: 10px;
}

.center {
    text-align: center;
}

section div div h6 {
    color: white;
}

/* Hero image---------------------------------------------------------------------------------- */

#hero-image {
    background-repeat: no-repeat;
    border-radius: 15px;
    width:100%;
}

/*About ---------------------------------------------------------------------------------- */
.about-information {
    height: 300px;
    width: 90%; 
    text-align: center;
    bottom: 0;
}

/*containers---------------------------------------------------------------------------------- */
.container-custom{
    margin-top:80px;
    margin-bottom: 80px;
    border-radius: 15px;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    width: 90%;
    overflow: hidden;
}

.hero-container{
    overflow: hidden;
    border-radius: 15px;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    width: 90%;
    margin-top:80px;
    height:40rem;
}
.container-heading {
    margin-top: 200px;
    width: 90%;
}

.container-heading-below {
    width: 90%;
    margin-top:80px; 
}

.gallery-images-container {
    margin-top:80px;
    margin-bottom: 40px;

}

.contact-form-container {
    margin-top: 160px;
    margin-bottom: 65px;
    padding-top: 100px;
    padding-bottom: 10px;
    border-radius: 15px;
}

/*Gallery---------------------------------------------------------------------------------- */


/*section-1-oils---------------------------------------------------------------------------------- */

.gallery-image-1 {
width: 100%;
height:300px;
overflow: hidden;
}

.gallery-image-2 {
    width: 100%;
    height:300px;
    overflow: hidden;
}

.gallery-image-3 {
    width: 100%;
    height:300px;
    overflow: hidden;
}

.gallery-image-4 {
    width: 100%;
    height:300px;
    overflow: hidden;
}

.gallery-image-5 {
    width: 100%;
    height:300px;
    overflow: hidden;
}

.gallery-image-6 {
    width: 100%;
    height:300px;
    overflow: hidden;
}

/*psesudo effects for oils---------------------------------------------------------------------------------- */

.gallery-image-1.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Childhood Memories, oil on canvas";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-2.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Controlled Chaos, Oil On Canvas";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-3.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Neglect, Oil On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-4.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Television Static, Oil On Canvas";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-5.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Disturbances, Oil On Canvas";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-6.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Treasured Memories, Oil On Canvas";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

/*section-2-acrylic---------------------------------------------------------------------------------- */
.gallery-image-7 {
width: 100%;
height:300px;
overflow: hidden;
}
    
.gallery-image-8 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-9 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-10 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-11 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-12 {
    width: 100%;
    height:300px;
    overflow: hidden;
}


/*psesudo effects for acrylics---------------------------------------------------------------------------------- */

.gallery-image-7.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "A Journey To Feeling Whole, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-8.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Cabinet Of Curiosity A Commemoration, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-9.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Cabinet Of Curiosity Happyness, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-10.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "A Study Of Hands 2, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-11.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "A Study Of Hands 3, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-12.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "A Study Of Hands 4, Acrylic On Canvas Board";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}
/*section-3-drawings-and-digital---------------------------------------------------------------------------------- */

.gallery-image-13 {
    width: 100%;
    height:300px;
    overflow: hidden;
    }
    
.gallery-image-14 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-15 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-16 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-17 {
    width: 100%;
    height:300px;
    overflow: hidden;
}
    
.gallery-image-18 {
    width: 100%;
    height:300px;
    overflow: hidden;
}


/*psesudo effects for digital-and-sketches---------------------------------------------------------------------------------- */

.gallery-image-13.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Coffee 2, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-14.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Coffee 4, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-15.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Coffee 5, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-16.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Yoga 1, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-17.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Yoga 3, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.gallery-image-18.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Routine Yoga 5, Digital";
    text-align: center;
    padding-top: 135px;
    color:white;
    font-family: arvo, sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

/*Contact Form---------------------------------------------------------------------------------- */
.contact-form {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.input-area {
    width: 80%;
    font-size: 12px;
    border-radius: 15px;
    border-style: none;
}

.input-area-textarea {
    width: 80%;
    height: 100px;
    font-size: 12px;
    border-radius: 15px;
    border-style: none;
}
/*Buttons---------------------------------------------------------------------------------- */

.submit-button {
    border-radius: 15px;
    margin: 30px;
    width: 200px;
    height:75px;
    color: black;
    border-style: none;
    background-color: white;
    font-family: creepster, sans-serif;
    font-size: 40px;
}

/*Footer---------------------------------------------------------------------------------- */

/*Contact--------------------------------------- */

.contact-information {
    text-align: center;
    font-size: small;
    height:100px;
}

hr {
    width: 200px;
    background-color: white;
    height: 0.1px;
    align-items: center;
}

.phone {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;

}

.address {
    text-align: right;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}


/*Font awesome icons------------------------------ */

section div div h6 a i {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

section div div h6{
    text-align: center;
}


section div div h2 i {
    float: right;
}

.to-the-top a i {
    text-decoration: none;
    color:white;
}

/*pseudo elements--------------------------------------------------------------------------- */

.hover-change:hover{
    color: white;
    font-size: 30px;
}

.submit-button:hover{
    background-color: #A8CCFF;
    font-size: 50px;
    width: 200px;
    color: white;
}

/*media screens---------------------------------------------------------------------------------- */

@media screen and (max-width: 750px) {

    .hero-container{    
        width: 90%;
        height: 15rem;
    }    
}


@media screen and (max-width: 393px) {
    
    .hero-container{    
        width: 90%;
        margin: 1.25em;
        height: 15rem;
    }    

    .heading-one{
        font-size: 40px;
    }
    .container-heading{
        margin-top: 8.125em;
        width: 90%;
    }
    }

    @media screen and (max-width: 280px) {
    
        .hero-container{    
            width: 90%;
            margin:14px;
            height: 10rem;
        }    
    
        .heading-one{
            font-size: 20px;
        }
        .container-heading{
            margin-top:8.125em;
            width: 90%;
        }
        }

    