/*Navigation---------------------------------------------------------------------------------- */

.navbar{
    width:100%;
    z-index: 1;
    height: 120px;
}

.navbar li {
    right: 0;
}

.navbar li a {
    color: black;
    text-align: center;
    line-height: 5px;
    font-size: 20px;
}

.logo {
    width: 100px; 
    height: 100px;
    float: left;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    padding:25px;
}

/*colours---------------------------------------------------------------------------------- */
body {
    background-color: rgb(234, 232, 238);
}

.navbar {
    background-color:rgb(149, 120, 223, 0.6);
}
/*Headings---------------------------------------------------------------------------------- */

.heading-one {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    margin-top: 20px;
}

/*Images---------------------------------------------------------------------------------- */

.hero-container {
    background-image: none;
    background-repeat: no-repeat;
    width:100%;
    height: 600px;
    z-index: 2;
    margin-top:100px
}

/*About ---------------------------------------------------------------------------------- */
.about-information {
    background-color:rgb(149, 120, 223);
    height: 300px;
    width: 90%; 
    text-align: center;
    bottom: 0;
}

/*containers---------------------------------------------------------------------------------- */
.container{
    margin-bottom: 20px;
    border-radius: 15px;
}

/*Gallery---------------------------------------------------------------------------------- */
.gallery-images {
    padding: 15px;
    height: 300px;
}

.gallery-top{
    height:300px;
}

.gallery-images-container {
    margin-top:160px;
    margin-bottom: 40px;

}

.gallery-image-1 {
background-color: aquamarine;
width: 300px;
height:300px;
}

.gallery-image-2 {
background-color: azure;
width: 300px;
height:300px;
}

.gallery-image-3 {
background-color: bisque;
width: 300px;
height:300px;
}

.gallery-image-4 {
background-color: blueviolet;
width: 300px;
height:300px;
}

.gallery-image-5 {
background-color: blanchedalmond;
width: 300px;
height:300px;
}

.gallery-image-6 {
background-color: blue;
width: 300px;
height:300px;
}

/*Contact Form---------------------------------------------------------------------------------- */
.contact-form {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.contact-form-container {
    background-color: rgb(149, 120, 223, 0.6);
    margin-top: 160px;
    margin-bottom: 65px;
    padding-top: 100px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-style: none;
}

.input-area {
    width: 80%;
    font-size: 12px;
    border-radius: 15px;
    border-style: none;
}

.input-area-textarea {
    width: 80%;
    height: 100px;
    font-size: 12px;
    border-radius: 15px;
    border-style: none;
}
/*Footer---------------------------------------------------------------------------------- */

/*Contact--------------------------------------- */

.contact-information {
    text-align: center;
    font-size: small;
    height:100%;
}

.contact-bg-colour-above {
    background-color: rgb(102,65,196);
}

.contact-bg-colour-below {
    background-color: rgb(76, 48, 145);
}

hr {
    width: 200px;
    background-color: white;
    height: 0.1px;
}

.phone {
    text-align: left;
    padding-bottom: 20px;
    display: inline;

}

.address {
    text-align: right;
    padding-bottom: 20px;
    display: inline;
}

/*Font awesome icons------------------------------ */

div a i {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: white;
}


/*puesudo effects---------------------------------------------------------------------------------- */

.hvr-sweep-to-top:before {
    background:rgba(0, 0, 0, 0.2);
    font-size: 18px;
    content: "Hello";
    text-align: center;
    padding-top: 135px;
    color:black;
}

.hover-change:hover{
    color: white;
    font-size: 22px;
}

